# Este fichero de configuración determina cómo se debe realizar el backup.

# Aquí se pueden sobreescribir configuraciones del fichero 'global.conf'
# redefiniendo el valor que deben tener las variables.
# Por ejemplo BACKUP_NAME_FORMAT="%Y_%m_%d__%H_%M_%S"

# Ejemplo de como excluir directorios. Estos son relativos a $DIRS_TO_BACKUP
# Para excluir /var/www/html/uploads haríamos
# RSYNC_FLAGS="$RSYNC_FLAGS \
#     --exclude=/var/www/html/uploads \
# "

# Directorios a contemplar.
# Definir DIRS_TO_BACKUP="" en caso de no querer hacer backup de ficheros.
DIRS_TO_BACKUP="\
    /var/www/html \
    /var/log \
"

# Configuración de la máquina de destino.
DEST_HOST_HOSTNAME=172.16.0.101
DEST_HOST_PORT=22
DEST_HOST_USER=backupper
DEST_HOST_BACKUPS_DIR=backupper/

# Configuración correo electrónico notificaciones.
# Definir EMAIL_TO="" en caso de no querer notificar por email.
# En email to pueden ser varios separados por espacios.
# Se envia un email independiente a cada destinatario.
# Posibles valores de EMAIL_USE_TLS: yes, no
EMAIL_FROM="BackUpper <backupper@example.com>"
EMAIL_TO="admin@example.com admin2@example.com"
EMAIL_SMTP_SERVER="smtp.example.com"
EMAIL_SMTP_PORT="587"
EMAIL_USE_TLS="yes"
EMAIL_USER="backupper@example.com"
EMAIL_PASSWORD="123456"

# Configuración para rotar los backups
NUMBER_OF_BACKUPS_TO_KEEP=30

# Configuración para rotar los logs
NUMBER_OF_LOGS_TO_KEEP=30

# Configuración backup bases de datos mysql.
# Definir MYSQL_DATABASES="" y MYSQL_BACKUP_ALL_DATABASES=false
# en caso de no querer realizar backups de mysql.
MYSQL_USER=user
MYSQL_PASSWORD=pass1234
# Posibles valores: {true, false}
# Si se define 'false' se contemplan las bases de datos especificadas en la
# variable MYSQL_DATABASES.
# Si se define 'true' se buscan todas las bases de datos de la instalación
# de mysql descartando las especificadas en MYSQL_IGNORE_DATABASES y
# se realiza el backup de todas. En este caso se sobrescribe la variable
# MYSQL_DATABASES con las bases de datos a realizar backup, por lo cual
# es indiferente el valor que se le asigne a dicha variable.
MYSQL_BACKUP_ALL_DATABASES=true
MYSQL_DATABASES="\
    sugarcrm \
    wordpres \
"

# Determina si se debe ejecutar rsync con sudo o no en destino.
# Esto permite conservar los permisos del fichero en destino.
# Si se activa el usuario que ejecuta el rsync en destino debe poder
# ejecutar '$ sudo rsync'.
# Posibles valores: {true, false}
EXECUTE_RSYNC_WITH_SUDO=false

# Posibles valores: {true, false}
# Si se especifica false únicamente se borran los backups antiguos si el
# backup actual se ha realizado correctamente.
# Si se especifica true se eliminan los backups antiguos independientemente
# de que se haya realizado correctamente el backup actual o no.
FORCE_REMOVE_OLD_BACKUPS=false
